.wrapper{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar{
  background-color: #002222;
}

.c_pic{
  background-color: black;
  height: 20vh;
}

.p_pic{
  position: absolute;
  /* width: 80px; */
  /* height: 80px; */
  top: -40px;
  background-color: white;
}

.mainpane{
  /* background-color: pink; */
  overflow-y: auto;
}

.navbar{
  background-color: #66aabb;
}

.scroll{
  overflow: hidden;
}

.scrollable{
  height: 0vh;
  /* i dont understant exactly why */
  /* but somehow this works :/ */
}

.img-responsive{
  max-width: 95%;
  height: auto;
}

.post-ghost{
  overflow:visible;
  height:0px;
}

.post-text{
  /* font-size: 1pt; */
}
