body{
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}

textarea{
  resize: none;
}

.material-icons{
  font-size: inherit;
  vertical-align: middle;
}

.kmsta-discrete-button{
  color: #337799;
  background-color: inherit;
  border: none;
}

.kmsta-discrete-button:hover {
  background-color: #337799;
  color: white;
}

.kmsta-discrete-button:active {
  background-color: #337799;
  /* box-shadow: 0 5px #666; */
  transform: translateY(4px);
}

.kmsta-button{
  color: white;
  background-color: #337799;
}

.kmsta-button[disabled]{
  cursor: not-allowed;
}
